<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gestão de Tarefas</title>

    <link rel="shortcut icon" th:href="@{/img/fivecon-targetsolutions.jfif}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">


</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="alert alert-danger" th:if="${errorMessage != null}" th:text="${errorMessage}" id="alertError"></div>
        <div class="container container-fluid p-4">
            <a class="navbar-brand" href="">Tarefa para Devs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link me-4" aria-current="page" href="#">Home</a></li>
                    <li class="nav-item">
                        <form class="d-flex" action="/buscarTarefa" method="get">
                            <input type="text" id="id" name="id" class="form-control me-2 w-auto" placeholder="Digite o ID da tarefa">
                            <button type="submit" class="btn btn-outline-light">Buscar</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2 class="text-center" id="home">Gestão de tarefas</h2>
<div class="container container-tarefa">
    <form method="post" action="/cadastrarTarefa" class="row g-3">
        <div class="col-12 mb-3">
            <label for="datacriacao" class="form-label">Data de criação</label>
            <input type="date" name="datacriacao" class="form-control" id="datacriacao" required>
        </div>
        <div class="col-12 mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" name="titulo" class="form-control" id="titulo" required>
        </div>
        <div class="col-12 mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" name="descricao" class="form-control" id="descricao" required>
        </div>
        <div class="col-12 mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status" required>
                <option value="" disabled selected>Selecione o status</option>
                <option value="Pendente">Pendente</option>
                <option value="Concluído">Concluído</option>
            </select>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button id="botao-enviar" type="submit" class="btn btn-primary">Enviar tarefa</button>
        </div>
    </form>
</div>

<br>
<div class="container container-recebe">
    <table class="dataTable table table-striped" th:if="${tarefas != null && !tarefas.isEmpty()}">
        <thead>
        <tr>
            <th>Data de Criação</th>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarefa : ${tarefas}">
            <td th:text="${tarefa.datacriacao}"></td>
            <td th:text="${tarefa.id}"></td>
            <td th:text="${tarefa.titulo}"></td>
            <td th:text="${tarefa.descricao}"></td>
            <td th:text="${tarefa.status}"></td>
            <td>
                <a th:href="@{/editar/{id}(id=${tarefa.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/deletar/{id}(id=${tarefa.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${successMessage}" id="successMessage" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${messageExcluir}" id="messageExcluir" class="alert alert-success" role="alert">
        <span th:text="${messageExcluir}"></span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>
